{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body>
    <div class="main">
        <div class="register">
            <h2>Register</h2>
            {% comment %} {% if messages %} {% endcomment %}
            {% for i in messages %}
            {{i}}
            {% endfor %}
            <form method="POST" id="register" action="">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Enter your Name " id="inp">
                <br><br>
                <input type="text" name="username" placeholder="Username" id="inp">
                <br><br>
                <input type="email" name="email" placeholder="E-mail id" id="inp">
                <br><br>
                <input type="text" name="state" placeholder="State" id="inp"> &nbsp;&nbsp;&nbsp;&nbsp;<br>
                <br>
                <input type="text" name="district" placeholder="District" id="inp">
                <br><br>
                <input type="password" name="password1" placeholder="Password" id="inp">
                <br><br>
                <input type="password" name="password2" placeholder="Confirm Password" id="inp">
                <br><br>
                <div class="signin-reg">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>
                <button type="submit" id="submit">Register</button>
            </form>
        </div> 
    </div>
</body>

</html>