* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/agro.jpg);
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.login {
    width: 350px;
    margin: 200px 65% 0 auto;
}

h2 {
    text-align: center;
    padding: 12px;
    font-family: sans-serif;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    font-size: 17px;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.3);
    color: #fff
}

.login-form:hover {
    box-shadow: 12px 12px 33px rgba(0, 0, 0, 0.3);
}

#inp {
    margin-left: 30px;
    margin-right: 20px;
    width: 77%;
    border-radius: 7.3px;
    padding: 7px;
    border: 2px solid white;
    margin-bottom: 25px;
    font-weight: bolder;
}

input:hover {
    box-shadow: 5px 7px 55px rgba(0, 0, 0, 0.3);
}

.btn {
    margin-left: 70%;
    margin-right: 23%;
    margin-bottom: 40px;
    width: 79px;
    padding: 7px;
    font-size: 17px;
    background-color: #fef7da;
    border-radius: 11px;
    cursor: pointer;
}

h4 {
    margin-left: 31px;
}

h4 a {
    text-decoration: none;
    color: rgb(140, 206, 140);
}