* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/agro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    width: 450px;
    margin: 150px 65% 0 auto;
}

h2 {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

.register {
    background-color: rgba(0, 0, 0, 0.25);
    /* background-color: #ee6c4d; */
    width: 100%;
    font-size: 17px;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.register:hover {
    box-shadow: 12px 12px 33px rgba(0, 0, 0, 0.3);
}

#inp {
    margin-left: 30px;
    margin-right: 20px;
    width: 77%;
    border-radius: 7.3px;
    padding: 7px;
    border: 2px solid white;
    font-weight: bolder;
}

#inp:hover {
    box-shadow: 5px 7px 55px rgba(0, 0, 0, 0.3);
}

#submit {
    margin-left: 70%;
    margin-right: 23%;
    margin-bottom: 40px;
    width: 79px;
    padding: 9px;
    font-size: 17px;
    background-color: #fef7da;
    border-radius: 11px;
    cursor: pointer;
}

.signin-reg {
    margin-left: 35px;
}

.signin-reg a {
    text-decoration: none;
    color: rgb(140, 206, 140);
}